**
!Dockerfile
!Dockerfile.codex-bundle
!.assets
!.assets/codex-bundle
!.assets/codex-bundle/bin
!.assets/codex-bundle/bin/codex
!.assets/codex-bundle/bin/codex-code-mode-host
!.assets/codex-bundle/codex-path
!.assets/codex-bundle/codex-path/rg
!.assets/codex-bundle/codex-resources
!.assets/codex-bundle/codex-resources/bwrap
!.assets/codex-bundle/codex-package.json
!verify-codex-bundle.py
!codex-bundle.sha256
!.assets/claude
!.assets/agy
!.assets/multica
!.assets/LICENSE
!.assets/NOTICE
!entrypoint.sh
!configure-tools.sh
!smoke.sh
!browser-smoke.cjs
!mcp-smoke.cjs
!browser-mcp.sh
!browser-config.json
!antigravity-settings.json
!codex-config.toml
