**
!Dockerfile
!.assets
!.assets/codex
!.assets/claude
!.assets/agy
!.assets/multica
!.assets/LICENSE
!.assets/NOTICE
!entrypoint.sh
!configure-tools.sh
!smoke.sh
!browser-smoke.cjs
!mcp-smoke.cjs
!browser-mcp.sh
!browser-config.json
!antigravity-settings.json
!codex-config.toml
